<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>ngTableDynamic directive</title>
  <link href="../libraries/bootstrap.min.css" rel="stylesheet">
  <link href="../libraries/ng-table.min.css" rel="stylesheet">
  
  
</head>

<body>
  <div ng-app="myApp">
  <div ng-controller="demoController as demo">
    <h2 class="page-header">Angular ngTableDynamic: inmemory list</h2>
    <table ng-table-dynamic="demo.tableParams with demo.cols" show-filter="true" class="table table-bordered table-striped">
      <tr ng-repeat="row in $data track by row.id">
        <td ng-repeat="col in $columns">{{::row[col.field]}}</td>
      </tr>
    </table>
  </div>
</div>

    <script src='js/qdlwob.js'></script>

    <script src="../libraries/lodash.min.js"></script>
	<script src="../libraries/angular.min.js"></script>
	<script src="../libraries/angular-mocks.js"></script>
	<script src="../libraries/ng-table.min.js"></script>

    <script src="js/index.js"></script>

</body>
</html>
